.second{background-color:tomato ;
padding: 10px;
}
.First{background-color: brown;
padding: 10px;
}
.third{background-color: aquamarine;
padding: auto;
}
.forth{background-color: blue;
padding: auto;}